/*===== Base =====*/
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: Arial;
	background-color: deepskyblue;
}

/*===== Layout =====*/
#calculator {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-areas: 
		"display display display display"
		"clear pos-neg percent div"
		"seven eight nine mul"
		"four five six sub"
		"one two three add"
		"zero zero dec equal";
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px;
	background-color: DimGray;
}

#display {
	grid-area: display;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	min-height: 6rem;
	min-width: 16rem;
	border-radius: 25px;
	text-align: right;
	background-color: black;
	color: white;
}

#prev {
	font-size: 2rem;
}

#curr {
	font-size: 3rem;
}

#clear {
	grid-area: clear;
}

#sign {
	grid-area: pos-neg;
}

#percent {
	grid-area: percent;
}

#div {
	grid-area: div;
}

#mul {
	grid-area: mul;
}

#sub {
	grid-area: sub;
}

#add {
	grid-area: add;
}

#equal {
	grid-area: equal;
}

#deci {
	grid-area: dec;
}

#zero {
	grid-area: zero;
	padding-left: 1.5rem;
	text-align: left;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

/*===== Components =====*/
button {
	margin: 0.2rem;
	padding: 1rem;
	min-height: 2em;
	min-width: 2em;
	border-radius: 50px;
	border: none;
	font-size: 2rem;
}

.primary {
	background-color: hsl(35, 100%, 50%);
	color: white;
}

.primary:hover {
	background-color: hsl(35, 100%, 60%);
}

.secondary {
	background-color: hsl(0, 0%, 80%);
	font-size: 1.5rem;
}

.secondary:hover {
	background-color: hsl(0, 0%, 90%);
}

.num {
	background-color: hsl(0, 0%, 20%);
	color: white;
}

.num:hover {
	background-color: hsl(0, 0%, 30%);
}



